blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  display: block;
  border: 0 !important
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal
}

li {
  list-style: none
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

q:after,
q:before {
  content: ''
}

abbr,
acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle
}

legend {
  color: #000
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none
}

section {
  *height: 1%;
  width: 100%
}

section:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden
}


/* Banner */

.nav_top {
  position: relative;
}

.swiper-container img {
  width: 100%
}

.tool {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 90%;
  height: 3rem;
  padding: 1rem 5%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
}

.tool .sign,
.tool .mark {
  position: absolute;
  top: 1.25rem;
  left: 1rem;
  z-index: 3;
  display: inline-block;
  width: 5rem;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0.5rem;
  border-radius: 1.1rem;
  font-size: 1.083333rem;
  color: #fff;
  -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .1);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tool .sign {
  background: #fd7b52;
}

.tool .mark {
  background: #ffab19;
}

.tool .search,
.tool .replace {
  position: absolute;
  top: 1.25rem;
  z-index: 3;
  font-size: 1.8rem;
  color: #fff;
}

.tool .search {
  right: 5rem;
}

.tool .replace {
  right: 1.5rem;
}


/* 添加孩子 */

.user_add {
  height: 4.333333rem;
  padding: 1.083333rem 0;
  border-bottom: 1.5rem solid #f8f8f8;
  text-align: left;
}

.user_add a {
  display: block;
  float: left;
  width: 4.166667rem;
  margin: 0 1.083333rem 0 3%;
}

.user_add div {
  display: block;
  float: left;
  width: 18rem;
}

.user_add img {
  width: 4.166667rem;
}

.user_add strong,
.user_add span {
  display: block;
  width: 99%;
}

.user_add strong {
  line-height: 2.5rem;
  font-size: 1.25rem;
  color: #29a7fb;
}

.user_add span {
  font-size: 1rem;
  color: #989898;
}


/* 孩子切换 */

#tabA {
  width: 100%;
  text-align: left;
}

#tabA dl {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 94%;
  padding: 1rem 3%;
  font-size: 0;
}

#tabA dd {
  position: relative;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 3.75rem;
  margin-right: 1rem;
  border: 2px solid #e7e7e7;
  border-radius: 50%;
  background: #ededf0;
}

#tabA dd.tab-cur {
  border: 2px solid #09f;
}

#tabA dd img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#tabA dd .triangle-up1,
#tabA dd .triangle-up2 {
  position: absolute;
  left: 1.575rem;
  bottom: -1.75rem;
  width: 0;
  height: 0;
  border-left: .45rem solid transparent;
  border-right: .45rem solid transparent;
}

#tabA dd .triangle-up1 {
  z-index: 11;
  border-bottom: .6rem solid #f8f8f8;
}

#tabA dd .triangle-up2 {
  z-index: 10;
  margin-top: -2px;
  border-bottom: .6rem solid #aaa;
}

#tabA dt {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 3.75rem;
  height: 3.75rem;
  font-size: 2rem;
  margin-right: 1rem;
  border: 2px solid #e7e7e7;
  border-radius: 50%;
  text-align: center;
  background: #fff;
}

#tabA dt a {
  display: block;
  color: #dedede;
}

#tabA dt i {
  line-height: 3.75rem;
}

#tabA .tab-c {
  display: none;
  margin: 0.52rem 0;
  padding: 1.083333rem 0;
  border-top: 1px solid #e9e9e9;
  background: #f8f8f8;
}

#tabA .tab-c .user {
  width: 94%;
  padding: 0 3%;
}

#tabA .tab-c .user strong {
  margin-right: .5rem;
  font-size: 1.25rem;
  color: #0a0b0d;
}

#tabA .tab-c .user span {
  font-size: 1rem;
  color: #666;
}

#tabA .tab-c .swiper-container {
  width: 94%;
  padding: 0 3%;
  height: 6.666667rem;
  margin: 1rem auto;
}

#tabA .tab-c .swiper-slide {
  width: 12.5rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


/* 导航 */

.menu_index {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  border-bottom: 1px solid #e9e9e9;
  font-size: 0;
}

.menu_index li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 20%;
  font-size: 1rem;
}

.menu_index li a {
  display: block;
}

.menu_index div {
  margin: 0 auto;
  width: 3.583333rem;
  height: 3.583333rem;
  border-radius: 50%;
}

.menu_index i {
  display: block;
  height: 3.583333rem;
  line-height: 3.583333rem;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}

.menu_index span {
  display: block;
  height: 2.833333rem;
  line-height: 2.833333rem;
  font-size: 1rem;
  color: #343434;
}

.menu_index li:nth-child(1) div,
.menu_index li:nth-child(6) div {
  background: #f5888b;
}

.menu_index li:nth-child(2) div,
.menu_index li:nth-child(7) div {
  background: #4ed1b0;
}

.menu_index li:nth-child(3) div,
.menu_index li:nth-child(8) div {
  background: #f2b855;
}

.menu_index li:nth-child(4) div,
.menu_index li:nth-child(9) div {
  background: #4bbfed;
}

.menu_index li:nth-child(5) div,
.menu_index li:nth-child(10) div {
  background: #efb04a;
}


/* 列表 */

.list_index {
  padding-bottom: 4.2rem;
}

.list_index li {
  width: 94%;
  height: 5rem;
  padding: 1.416667rem 3%;
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
}

.list_index li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.list_index li div {
  display: block;
  float: left;
  width: 16.333333rem;
}

.list_index li p {
  display: block;
  width: 100%;
  line-height: 1.666667rem;
  font-size: 1.25rem;
  color: #0a0b0d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.list_index li span {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  width: 90%;
  height: 2rem;
  line-height: 3rem;
  font-size: 1rem;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list_index li img {
  float: right;
  width: 8.333333rem;
  height: 5rem;
}


/* 返回顶部 */

#top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 5;
  display: block;
  font-size: 2.833333rem;
  color: rgba(0, 0, 0, .4);
}


/* 弹窗 */

#popBg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99990;
  background: rgba(0, 0, 0, .4);
}

#popNav,
#popNavQd {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99991;
  background: #fff;
  border-radius: .5rem;
  width: 90%;
  height: 32.08em;
  margin: -16.04rem 0 0 -45%;
  color: #333;
}

#popNav .tit {
  width: 100%;
  height: 6rem;
  padding-top: 1.5rem;
  border-radius: .5rem .5rem 0 0;
  background-color: #5eb5ef;
  background-image: url(../images/title_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#popNav .tit h1 {
  line-height: 2.5rem;
  font-size: 1.666667rem;
  font-weight: normal;
  color: #fff;
}

#popNav .tit h2 {
  line-height: 2em;
  font-size: 1.25rem;
  font-weight: normal;
  color: #fff;
}

#popNav ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
}

#popNav li {
  position: relative;
  float: left;
  width: 33.333333%;
  padding-top: 2.083333rem;
  text-align: center;
}

#popNav li img {
  margin: 0 auto;
  width: 4.333333rem;
}

#popNav li .cover {
  position: absolute;
  left: 50%;
  top: 2.083333rem;
  z-index: 99998;
  display: none;
  margin-left: -2.166666rem;
  width: 4.333333rem;
  height: 4.333333rem;
  border-radius: 50%;
  background: rgba(3, 52, 85, .5);
}

#popNav li i {
  position: absolute;
  right: -0.166667rem;
  bottom: -0.166667rem;
  z-index: 99999;
  display: none;
  font-size: 1.333333rem;
  border-radius: 50%;
  background: #fff;
  color: #09f;
  border: .083333rem solid #fff;
  box-shadow: 0 0 .166667rem .083333rem rgba(5, 76, 123, .4);
}

#popNav li span {
  line-height: 2.666667rem;
  font-size: 1.25rem;
  color: #666;
}

#popNav li.activate .cover,
#popNav li.activate i {
  display: block;
}

#popNav li.activate span {
  color: #09f;
}

#popNav a.btn_blue,
#popNavGx a.btn_blue {
  position: absolute;
  left: 5%;
  bottom: 1.25rem;
  z-index: 99999;
  display: block;
  width: 90%;
  height: 3.583333rem;
  line-height: 3.583333rem;
  border-radius: .333333rem;
  font-size: 1.416667rem;
  background: #9fd6fb;
  color: #fff;
}

#popNav a.true {
  background: #29a7fb !important;
}

#popNavQd .tit {
  width: 100%;
  height: 12.083333rem;
  border-radius: .5rem .5rem 0 0;
  background-color: #5eb5ef;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: .916667rem;
}

#popNavQd h1 {
  display: block;
  width: 100%;
  height: 3.333333rem;
  line-height: 3.333333rem;
  margin-top: 1.583333rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #0a0b0d;
}

#popNavQd h1 i,
#popNavQd h1 span {
  font-size: 2rem;
  color: #fd6951;
}

#popNavQd h1 i {
  margin: 0 0.5rem;
}

#popNavQd h2 {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: #666;
}

#popNavQd h2 span {
  margin-left: 0.5rem;
  color: #29a7fb;
}

#popNavQd ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 90%;
  margin: 1.6rem 5%;
}

#popNavQd li {
  float: left;
  width: 14.285714%;
}

#popNavQd li i,
#popNavQd li span {
  display: block;
  width: 100%;
}

#popNavQd li i {
  font-size: 1.666667rem;
  color: #e0e0e0;
}

#popNavQd li span {
  line-height: 2.25rem;
  font-size: 1rem;
  color: #666;
}

#popNavQd li.activate i,
#popNavQd li.activate span {
  color: #29a7fb;
}

#popNavQd .btn {
  margin: 0 5%;
  width: 90%;
}

#popNavQd a.btn_blue,
#popNavQd a.btn_white {
  display: block;
  width: 42%;
  height: 3.416667rem;
  line-height: 3.416667rem;
  border: 1px solid #29a7fb;
  border-radius: .333333rem;
  font-size: 1.416667rem;
}

#popNavQd a.btn_blue {
  position: absolute;
  right: 5%;
  bottom: 1.25rem;
  z-index: 99999;
  background: #29a7fb;
  color: #fff;
}

#popNavQd a.btn_white {
  position: absolute;
  left: 5%;
  bottom: 1.25rem;
  z-index: 99999;
  background: #fff;
  color: #29a7fb;
}

#popNavGx {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99991;
  background: #fff;
  border-radius: .5rem;
  width: 80%;
  height: 32.08em;
  margin: -16.04rem 0 0 -40%;
  color: #333;
  text-align: left;
}

#popNavGx .tit {
  width: 100%;
  height: 6rem;
  padding-top: 1.5rem;
  border-radius: .5rem .5rem 0 0;
  background-color: #5eb5ef;
  background-image: url(../images/title_bg2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 1.333333rem;
}

#popNavGx h1,
#popNavGx p {
  display: block;
  width: 90%;
}

#popNavGx h1 {
  margin: 1rem auto 0 auto;
  height: 2.25rem;
  line-height: 2.25rem;
  font-size: 1.333333rem;
  font-weight: normal;
  color: #1c1c1c;
}

#popNavGx p {
  margin: 0 auto;
  height: 2.083333rem;
  line-height: 2.083333rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: #4a4a4a;
}

#popNavGx a.btn_blue {
  background: #29a7fb !important;
  text-align: center;
}


/* 添加孩子页面 */

.addchild_list {
  background: #fff;
}

.addchild_list ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
}

.addchild_list li {
  position: relative;
  width: 90%;
  margin: .833333rem 5%;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}

.addchild_list li dl {
  position: absolute;
  left: 0;
  top: 5rem;
  z-index: 2;
  display: block;
  width: 100%;
  border: 1px solid #9fd6fb;
  border-radius: .25rem;
  background: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1);
}

.addchild_list li dl dd {
  display: block;
  width: 90%;
  margin: 0 5%;
  height: 4.5rem;
  line-height: 4.5rem;
  color: #0a0b0d;
  font-size: 1.25rem;
  border-bottom: 1px solid #e0e0e0;
}

.addchild_list li dl dd:last-of-type {
  border: 0;
}

.addchild_list li span {
  display: block;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #525866;
  font-size: 1.25rem;
}

.addchild_list li input {
  display: block;
  border: 0;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.25rem;
}

.addchild_relation {
  width: 90%;
  padding: .833333rem 5%;
  text-align: left;
  background: #fff;
}

.addchild_relation span {
  display: block;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #525866;
  font-size: 1.25rem;
}

.addchild_relation a {
  display: inline-block;
  margin: 1rem 1.333333rem 1rem 0;
  font-size: 1.25rem;
  color: #0a0b0d;
  border: 1px solid #ddd;
  border-radius: .166667rem;
  padding: .166667rem .75rem;
}

.addchild_relation a.active {
  color: #29a7fb;
  border: 1px solid #29a7fb;
}

a.addchild_btn {
  display: block;
  margin: 2.5rem auto;
  width: 90%;
  height: 3.583333rem;
  line-height: 3.583333rem;
  border-radius: .333333rem;
  font-size: 1.416667rem;
  background: #9fd6fb;
  color: #fff;
}

a.true {
  background: #29a7fb;
}

.prompt {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 3;
  max-width: 80%;
  border-radius: .25rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  box-sizing: border-box;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}